p {
  margin: 0;
}

.Card {
  background: rgb(31, 31, 31);
  border-radius: 40px;
  text-align: center;
  transform: perspective(822px) rotateY(25deg) scale(0.9) rotateX(10deg);

  opacity: 0.5;
  transition: 0.6s ease all;
  height: auto;
  width: 281px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.Card:hover {
  transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg)
    scale(1);
  filter: blur(0);
  opacity: 1;
}

.Card__img {
  text-align: center;
}

.Card__types {
  display: flex;
  justify-content: center;
}

.Card__type {
  text-align: center;
  padding: 5px 10px;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  background: cyan;
  color: #fff;
}

.Card__name {
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
}

.Card__info {
  color: white;
  margin-left: 10px;
}

.Card__data {
  padding-bottom: 10px;
}

.Card__data .title {
  font-weight: 700;
}
