* {
  box-sizing: border-box;
}
body {
  background-color: rgb(230, 230, 230);
  justify-content: center;
}
.grid-container {
  max-width: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 253px auto 253px auto;
  grid-gap: 50px;
  text-align: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .grid-container {
    max-width: 70%;
    display: grid;
    margin: 30px auto;
    grid-template-columns: auto;
    grid-gap: 50px;
    text-align: center;
    justify-content: center;
  }
}
.btn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.btn button {
  border-style: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  background: #30a7d7;
  color: #fff;
  font-size: 1em;
}
